<app-navbar></app-navbar>
<h2>Subtask List</h2>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Task Id</th>
      <th>Subtask Id</th>
      <th>Subtask Title</th>
      <th>Comment</th>
      <th>Start Date</th>
      <th>Due Date</th>
      <th>Progress</th>
      <th>Update Progress</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let subtask of subtasks; index as i">
      <td>{{ subtask[0].taskId.taskId }}</td>
      <td>{{ subtask[0].subTaskId }}</td>
      <td>{{ subtask[0].subTaskTitle }}</td>
      <td>{{ subtask[0].comment }}</td>
      <td>{{ subtask[0].startDate }}</td>
      <td>{{ subtask[0].dueDate }}</td>
      <td>{{ subtask[0].progressPercentage }}</td>

      <td>
        <button
          type="button"
          class="btn btn-primary btn-sm"
          (click)="updatedSubId = subtask[0].subTaskId; update()"
        >
          Edit
        </button>
      </td>
    </tr>
  </tbody>
</table>
