<div class="card-layout-container">
  <div class="row">
    <div class="col-lg-3 col-md-6">
      <app-card-sm-m cardData="Start Date"></app-card-sm-m>
    </div>
    <div class="col-lg-3 col-md-6">
      <app-card-sm-m cardData="Due Date"></app-card-sm-m>
    </div>
    <div class="col-lg-3 col-md-6">
      <app-card-sm-m cardData='Budget'></app-card-sm-m>
    </div>
    <div class="col-lg-3 col-md-6">
      <app-card-sm-m cardData='Employees'></app-card-sm-m>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <app-card-vr-chart-m></app-card-vr-chart-m>
    </div>
    <div class="col-sm-7">
      <app-card-hr-chart-m></app-card-hr-chart-m>
    </div>
  </div>
</div>
