table {
    width: 100%;
}


@media screen and (max-width: 700px) {
    .mat-table{
        vertical-align: middle;
    }
    .mat-table .mat-header-cell{
        display: none;
    }

    .mat-table .mat-row{
        border-radius: 12px;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

    }

    .mat-table .mat-cell:before{
        content: attr(data-label);
        font-weight: 700;
        text-transform: uppercase;
        padding-right: 10px;
    }


    .mat-table .mat-cell{
        display: block;
        padding: 10px;
        border: none;

    }
}
